<h1> Edit </h1>
<!--  form_with(model: portfolio, local: true) do |form|
with if its the actual form
--> 
<%= form_for(@portfolio) do |form| %>

  <div class="field">
    <%= form.label :title %> 
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :thumb_img %>
    <%= form.text_field :thumb_img %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
