<h1>Portfolio Items</h1>


<!--
<%= @portfolios.inspect %>
no equal sign means not going to render
image_tag is a ruby helper method 
-->

<a href = "/portfolios/new"> Add new Manual </a>
<br>
<%= link_to "Ruby Link to New Item", new_portfolio_path %>
<br>
<%= link_to "Ruby Link to New Item Subdomain", new_portfolio_url, subdomain: "work"%>
<br><br>

<% @portfolios.each do |portfolio| %>
    <div>   
    <!-- link to /show -->    
         <h3><%= link_to portfolio.title, portfolio_show_path(portfolio.id)  %> </h3><br> 
         <%= image_tag(portfolio.thumb_img, style: 'width:200px;') unless portfolio.thumb_img.nil? %><br>
         <%= portfolio.thumb_img %><br>
         <%= portfolio.body %> <br>
         <%= link_to "edit", edit_portfolio_path(portfolio.id) %>
         <br>
         <a href = "/portfolios/<%= portfolio.id %>/edit">Manual Edit</a>
         <br>
        
         <%= link_to "Delete", portfolio, method: :delete, data: {confirm: "U Sure?"} %>
         <br><br>
    </div>
        
<% end %>

